.console-style {
    display: flex;
    flex-direction: column;

    /* width: 85%; */
    margin: 15px;
}

/* ============ TabContent: GAN Styles ================= */

.style-btns{
    display: flex;
    flex-direction: row;

    width: 100%;
    margin-top: 15px;
}

.style-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 55px;
    height: 30px;

    /* border-style: solid;
    border-width: 0.5px;
    border-color: whitesmoke;*/
    border-radius: 5px; 
    margin: 5px;
}

.style-btn-container:hover {
    background-color: #2f437e !important;
}

.style-btn-container .style-btn .text {
    font-size: 10px;
}


.style-generate {
    display: flex;
    flex-direction: row;

    align-items:  center;
    justify-content: space-between;

    margin: 25px 0px;
}

.generate-slider {
    width: 65%;
    margin-left: 10px;
}

.generate-img-block {
    display: flex;
    flex-direction: row;
    align-items:  center;
    /* justify-content: center; */
    flex-wrap: wrap;
}


.style-adjust {
    display: flex;
    flex-direction: column;

    margin: 15px 0px;
    width: 100%;
}