.text-block {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 38px;
    width: 90%;

    margin: 8px 0px;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgba(255,255,255,0.7);
    border-style: dashed;

    color: white;
}

.text-block:hover {
    background-color: #2f437e;
}