.edit-input {
    font-size: 12pt;

    min-width: 1px;
    width: fit-content;
    /* overflow: auto; */
    cursor: text;

    position: absolute;
    left: 0;
    top: 0;
}

.edit-input:empty:before {
    content: attr(placeholder);
    color: gray;
}

.edit-input:focus:before {
    content: "";
}
  
.edit-input:focus {
    border: 1px dashed gray;
    outline: none;
}

.edit-input:hover {
    border: 1px dashed gray;
}

/* .edit-input:focus::after{
    edi
} */

